/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Merriweather", serif;
  font-size: 105%;
  color: #fff;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

#main {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.homePage {
  width: 100%;
  height: 100%;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-shadow: 3px 2px 4px #818080;
}
.homePage h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 5em;
  margin-bottom: 1em;
}

.homePageNav {
  color: #FFFFFF;
  text-shadow: 3px 2px 4px #818080;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.homePageNav a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}

.homeLogo {
  display: inline-block;
  width: 60%;
  margin-top: 30%;
  margin-left: 35%;
}

a {
  color: #34e4f6;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 1.2em;
}

p {
  margin-top: .5em;
}

.mainHead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.branding {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  text-shadow: -3px 3px 2px #e6e6e6;
  border-top: 3px solid #34e4f6;
  display: block;
  width: 100%;
  padding: 1em 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

* {
  box-sizing: border-box;
}

.topNav {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
.topNav li {
  padding: 1em 0;
  background-color: white;
  border-bottom: 2px solid white;
}
.topNav li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.1em;
}
.topNav li a:hover {
  color: #34e4f6;
}

.heroContainer {
  width: 100%;
  height: auto;
  max-width: 1080px;
  border-top: 5px solid #34e4f6;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.content, .footerAreaMain {
  padding: 1em;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 1em 1.5em 1em;
  border-top: 5px solid #34e4f6;
}

/*# sourceMappingURL=style.css.map */