//@import "reset.scss";
@import "_variables.scss";
//main content styles
* {
  box-sizing: border-box;
}

body {
  @include textRules;
  width: 100%;
  height: auto;
  background-color: black;
  background-image: url("../img/homeBackgroundPortrait.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  top: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  height: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $homeFont;
  background-color: black;
  padding: 1em 1em 1.5em 1em;
  box-shadow: 0 0 10px $brandingColor;
  position: fixed;
  width: 100%;
  top: 0px;
  border-top: solid 5px $brandingColor;
  z-index: 1000;
  transition: top 0.4s ease-in-out;
  ul.topNav {
  display: flex;
  justify-content: space-around;
  margin: .5em .75em 0 .75em;
  color: white;
  font-family: $sansFont;
  font-size: 1.5em;
  width: 100%;
}
}

h1,
h2 {
  font: {
    size: 1.75em;
    family: $homeFont;
  }
}

a {
  text-decoration: none;
  color: white;
  &:hover, &:active {
    text-decoration: underline;
  }
}

.disc {
  list-style: disc;
  padding-left: .5em;
}

img {
  width: 100%;
  height: auto;
}
.nav-up{
  top: -6em;
}
.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  .homeSection {
    width: 100%;
   
    margin-top: 10%;
    padding: 0 .5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h2 {
      text-shadow: 1px 1px 5px darken($brandingColor, .9);
    }
    ul.topNav {
      margin: .75em;
      @include navStyle;
    }
    .description {
      padding: 1em 2em;
      margin: 0 auto;
      width: auto;
      overflow: auto;
      @include boxStyle;
    }
  }
}
.navDown{
  margin-top: auto;
  margin-bottom: 1em;
}
.thin {
  font-family: $sansFont;
  text-transform: uppercase;
}



//section content styles
.gallery,
.photo,
.designThumbnail, .photoThumbnail {
  margin: 0 auto 2em auto;
  max-width: 60em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-right: 2em;
}
.gallery.web{
  align-content: center;
}
.gallery h2{
  margin: 0 auto;
}
.webBlock {
  flex: 1 0 100vw;
  padding: .75em;
  p {
    background-color: black;
    padding: .75em;
  }
}
.photography{
  height:46em;
}
.design{
  height: 50em;
}

.photography,
.design {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: black;
  padding: 2em 0;
  .photoThumbnail, .designThumbnail {
    img {
      margin: 0 0 .8em 2em;
      opacity: 0.6;
      background-color: white;
      transition: opacity 0.3s linear;
      width: 4em;
      height: 4em;
      &:hover{
        opacity: 0.9;
      }
    }
  }
}

.feature,
.designFeature {
  position: relative;
  height: 65vh;
  img {
    background-color: white;
    position: absolute;
    left: 0;
    height: auto;
    max-height: 31.25em;
    width: 100%;
    order: 1;
  }
}

.bio,
.relevantLinks {
  padding: 1em;
  overflow: auto;
  @include boxStyle;
  h3 {
    padding-left: .5em;
    text-decoration: underline;
    font-size: 1.3em;
    margin-bottom: .75em;
  }
  a {
    color: lighten($brandingColor, 0.2);
  }
}
.relevantLinks{
  margin-top: 1em;
}
.personalInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
  margin: 1em;
}

.bio {
  img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    float: left;
    shape-outside: circle(50%);
    margin-right: 1em;
    border: 0 none;
  }
  p {
    margin-bottom: .75em;
  }
}

.alignRight {
  float: right;
}

footer {
  display: flex;
  flex-flow: wrap;
  
  padding: 1.5em 1em;
  border-top: 5px solid $brandingColor;
  color: white;
  background-color: black;
  p {
    margin: 0 auto;
  }
}

.socialLinks {
  display: flex;
  margin: 1em auto;
}

.icon {
  flex: 1 0 10%;
  margin-right: 1em;
  cursor: pointer;
  transition: fill 0.3s linear;
  fill: white;
}

svg.fa {
  &:hover {
    fill: $facebook;
  }
}

svg.tw {
  &:hover {
    fill: $twitter;
  }
}

svg.li {
  &:hover {
    fill: $linkedin;
  }
}

svg.gp {
  &:hover {
    fill: $googleplus;
  }
}

svg.gh {
  &:hover {
    fill: $brandingColor;
  }
}

svg.cp {
  stroke: white;
  &:hover {
    stroke: $brandingColor;
  }
}
/*------------------------------------------media queries---------------------*/
@media screen and (min-width: 29em){
  footer{
    p{
      margin-left: 1em;
      display: block;
    }
    .socialLinks {
    align-self: flex-end;
    margin:0 0 0 auto;
   }
  }
  .design{
  height: 55em;
 }
}
@media screen and(min-width: 44em) {
    
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    h1 {
      font-size: 2em;
      flex: 2 0 auto;
      margin-left: 1em;
    }

  ul.topNav {
    justify-content: space-around;
    margin-top: 1em;
    
    flex: 1 1 35%;
  }
}
  .home {
    .homeSection {
      width: 95%;
      margin-top: 15%;
      align-items: center;
      line-height: 2.5em;
      h2 {
        font-size: 2.5em;
      }
      ul.topNav{
        font-size: 2em;
      }
    }
  }

.gallery {
  height: 60em;
}
  .photography,
  .design {
    margin-top: 6em;
    .photoThumbnail, .designThumbnail {
      img {
        width: 8em;
        height: 8em;
      }
    }
  }
  .webBlock {
   flex-basis: auto;
   width: 32%;
  }
  .feature,
  .designFeature {
    img {
      left: 15%;
      height: auto;
      max-height: 34em;
      width: 70%;
      order: 1;
    }
  }
 
  .personalInfo {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin: 25em 1em;
  }
  .bio,
  .relevantLinks {
    flex: 1 0 48%;
  }
  .relevantLinks {
    margin-top: 0;
    margin-left: 1em;
  }


footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
}
@media screen and(min-width: 53em) {
body {
    background-image: url("../img/homeBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .home {
    .homeSection {
      width: 70%;
      
      h2 {
        font-size: 3.5em;
      }
    }
  }
}
@media screen and(min-width: 64em){
 
  .gallery.design{
    
    min-height: 70em;
  }
  
  .feature, .designFeature{
    height: 70vh;
    
  }
}
